#uploadedImage{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}


.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2b3474!important;
}

