<!-- Page Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-6 align-middle">
        <div class="row" style="margin-top: 30%; padding-right: 40px;">
          <div class="col-lg-12">
            <h2> Add digital elements to a live view </h2>
          </div>
          <div class="col-lg-12">
            <p style="padding-right: 200px">
              Enhance natural environments or
              situations and offer perceptually
              enriched experiences.
              <p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <img src="../assets/img/home.png" class="home-img img-fluid">
        <img src="../assets/img/ar.png" class="home-img-ab img-fluid">
      </div>
    </div>
    <div class="container  mg-top">
      <div class="row">
  
        <div class="col-lg-12 text-center">
          <div class="tilte-row">
            <h1> MyWorkBench </h1>
            <div class="line"></div>
          </div>
        </div>
  
        <div class="col-lg-12 text-center" style="padding:  25px 0px">
          <p>
            Add a twist of Augmented Reality in real life with us using a powerful drag-and-drop
            web studio<br> easy to create, manage and track your scene
          </p>
        </div>
      </div>
    </div>
  
  
  
  
    <div class="container  mg-top">
      <div class="row">
  
        <div class="col-lg-12 text-center">
          <div class="tilte-row">
            <h1> How it Work </h1>
            <div class="line1"></div>
          </div>
        </div>
  
        <div class="col-lg-12" style="margin: 10px">
          <div class="row">
            <div class="col-lg-4">
              <div class="box">
                <h3 class="box-title"> Step 1</h3>
                <div style=" height: 120px; width: 120px;">
                  <img src="../assets/img/load.png" class="up-icon" />
                  <img src="../assets/img/cam.png" class="img-box" />
                </div>
  
                <p> Capture or Upload <br> a real life video <p>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="box">
                <h3 class="box-title"> Step 2</h3>
                <img src="../assets/img/founder.png" class="img-box" />
                <p> Capture or Upload <br> a real life video <p>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="box">
                <h3 class="box-title"> Step 3 </h3>
                <img src="../assets/img/circle.png" class="img-box" />
                <p> Capture or Upload <br> a real life video <p>
              </div>
  
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  
  
    <div class="container mg-top">
      <div class="row">
  
        <div class="col-lg-12 text-center" style="padding: 20px 0px;">
          <div class="tilte-row">
            <h1> How it Help You </h1>
            <div class="line2"></div>
          </div>
        </div>
  
        <div class="col-lg-12 text-center" style="margin: 10px">
          <div class="play-icon">
            <img src="../assets/img/play.png" />
          </div>
          <img src="../assets/img/video.png" style="width: 100%; height: 500px" />
        </div>
  
  
      </div>
    </div>
  
  
  
  
    <div class="container bg-color  mg-top" style="display: none">
      <div class="row">
  
        <div class="col-lg-12 text-center" style="padding: 40px 0px;">
          <div class="tilte-row">
            <h1> Mobile App </h1>
            <div class="line2"></div>
          </div>
        </div>
  
        <div class="row text-center">
          <div class="col-lg-4">
            <img src="../assets/img/Image5.png" class="img-fluid" style="height: 100px; margin-top: 35%">
          </div>
          <div class="col-lg-8">
            <img src="../assets/img/Image4.png" class="img-fluid">
          </div>
        </div>
  
      </div>
    </div>
    <!-- Page Content -->
    
</div>