  <!-- Footer -->
  <footer class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <b class="color large"> MFW </b>
        </div>
        <div class="col-lg-5">
          <a href="#" class="f-link color "> Privacy Policy </a>
            <a href="#" class="f-link color "> Terms of Use </a>
            <a href="#" class="f-link color"> Contact Us </a>
            <a href="#" class="f-link color"> FAQ's </a>
        </div>
        <div class="col-lg-12">
          <p class="color m-0">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer>