<!-- Page Content -->
<div class="container tm-30">

	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="d-flex">
				<div style="width: 50%">
					<h1 class="work-title"> My Work Shop</h1>
				</div>
				<div style="width: 50%">
					<h1 class="work-title" style="text-align: right;">
						<a class="work-title scene-title1 act" routerLink="/create_a_lesson"> Create New Lesson</a></h1>
					<div class="plus-div">

					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-12 col-md-12 mr-20">
			<div class="d-flex">
				<div style="width: 8%">
					<a routerLink="/addscene">
						<h1 class="scene-title1"> Scene</h1>
					</a>
				</div>
				<div style="width: 8%">
					<a href="/lessons">
						<h1 class=" lesson-title act"> Lessons </h1>
					</a>
				</div>
			</div>
		</div>


		<div class="col-lg-12 col-md-12">
			<p class="scene-text"> Upload assets and assemble scene in our easy to use interface - so fast and easy, it
				can be done in under 60 seconds.</p>
		</div>

		<br>

		<div class="col-lg-4" style="padding: 10px">
			<div class="scene-title"> Your Lesson Title </div>
			<div class="lesson-text"> 5 Scenes </div>
			<div class="scene-img">
				<img src="../../../assets/img/lesson/Image20.png" class="img">
			</div>
			<div class="d-flex text-center">
				<a class="rw-btn"> Edit </a>
				<a class="rw-btn" data-toggle="modal" data-target="#exampleModal"> Preview </a>
				<a class="rw-btn"> Delete </a>
				<a class="rw-btn" data-toggle="modal" data-target="#exampleModal1"> Share </a>
			</div>

		</div>


	</div>

</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">

	<div class="close-btn">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			CLOSE
		</button>
	</div>

	<div class="modal-dialog" role="document" style="background: transparent; border: none">
		<div class="modal-content" style="background: transparent; border: none">
			<div class="modal-body" style="background: transparent; border: none">
				<div class="row">

					<div class="col-md-12">
						<img src="../../../assets/img/lesson/Image20.png" class="img">
					</div>


				</div>
			</div>
		</div>
	</div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">

	<div class="close-btn">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			CLOSE
		</button>
	</div>

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">

					<div class="col-md-12 text-center">
						<h1 class="share-title"> <b> Share Your Lesson </b> </h1>
					</div>

					<div class="col-md-12 text-center">
						<p class="text1"> Share your lesson with other users </p>
					</div>

					<div class="col-md-12 col-lg-12">
						<img src="../../../assets/img/lesson/Image20.png" class="img">
					</div>

					<div class="col-md-12 col-lg-12 mr-40 text-center">
						<div class="row text-center">
							<div class="col-md-5"></div>
							<div class="col-md-1">
								<svg class="svg-inline--fa fa-facebook-f fa-w-10" style="font-size: 20px;"
									aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f"
									role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
									data-fa-i2svg="">
									<path fill="currentColor"
										d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
									</path>
								</svg><!-- <i class="fab fa-facebook-f" style="font-size: 20px"></i> -->
							</div>
							<div class="col-md-1">
								<svg class="svg-inline--fa fa-twitter fa-w-16" style="font-size: 20px;"
									aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter"
									role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
									data-fa-i2svg="">
									<path fill="currentColor"
										d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
									</path>
								</svg><!-- <i class="fab fa-twitter" style="font-size: 20px"></i> -->
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>