<h3>FAQ's</h3>
<div class='col-md-12'>
	<h3><center>How can we help you?</center></h3>
	<div class='row'>
		<div class='col-md-3'></div>
		<div class='col-md-6'>
			<div class="input-group mb-3">
			  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
			  <div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
			  </div>
			</div>
		</div>
		<div class='col-md-3'></div>
	</div>
</div>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Lorem ipsum dolor sit amet
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque dignissim leo. Nunc sit amet malesuada est. Vivamus feugiat augue ut sem viverra maximus. Suspendisse varius vitae risus quis porttitor. Aliquam erat volutpat. Quisque finibus ullamcorper nisi ut mattis. Morbi vitae tellus sed nisl mollis vestibulum. Proin at molestie diam. Duis at lacus ac lacus cursus malesuada. Proin efficitur lacus in sem finibus consequat.
		</p>
		<p>Nulla sit amet ligula quis massa tempor suscipit. Morbi et nisi commodo, rutrum orci id, pharetra justo. Donec sit amet facilisis massa. Fusce commodo congue turpis quis ultricies. Nunc malesuada a nisl id pretium. Pellentesque velit dui, bibendum quis condimentum sit amet, laoreet lacinia odio. Vivamus magna lacus, rhoncus ut elementum ac, vehicula quis quam. Donec ultrices elementum magna, eget gravida augue laoreet et. Morbi fringilla non dui in imperdiet.
		</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Donec ultricies dolor eu tellus
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>
			Donec ultricies dolor eu tellus imperdiet, id sollicitudin dolor lobortis. Curabitur facilisis sem sit amet ante tincidunt, quis laoreet lectus porttitor. Nam interdum, massa in porttitor scelerisque, arcu lacus aliquam urna, eget pretium elit felis eu velit. Nam in lacus tristique, semper arcu at, gravida enim. Cras iaculis, dolor ac pellentesque iaculis, orci odio tincidunt diam, ut fermentum mi justo a sem. Mauris rutrum interdum nibh, at bibendum eros. Aenean finibus purus tellus, sed tempus nibh malesuada et. Suspendisse leo massa, tempus quis finibus id, finibus non mauris. Donec mi turpis, lobortis et tincidunt rhoncus, commodo id nulla. Pellentesque fringilla, sapien nec interdum tincidunt, turpis nunc ultricies nisi, sit amet condimentum nunc lorem et justo. Nam ullamcorper facilisis sapien, sed porta mauris ultrices sed. Nunc dignissim eu mi id aliquet. Maecenas mollis felis eget leo tincidunt blandit vel eu odio. Vestibulum a magna augue.
		</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Anim pariatur cliche
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>